#ThumbButton {
  -webkit-appearance: listbox;
  color: grey;
  background-color: transparent;
  border-color: transparent;
  bottom: 4px;
  position: relative;
  right: 10px;
  fill:grey;
  opacity:0.2;
}
#ThumbButton:hover {
    opacity:0.5;
  }
svg:not(:root) {
    overflow: initial;
}

