.btn-primary {
    color: grey;
    background-color: transparent;
    border-color: transparent;
  }
.btn-primary:hover {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-weight:500;
    cursor:pointer;
}
.btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(0,123,255,0);
}