@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,300,500,700");
*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}
a:any-link {
  color: grey;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  background-color:transparent;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.sort-container {
  margin-bottom: 20px;
}

form.form-inline {
  margin: 0 auto;
}
#myVideo {
  position:relative;
 right: 0;
 bottom: 0;
 max-width: 1106px;
 width:100%;
}
video {
 height: auto;
 vertical-align: middle;
 width: 100%;
}

